html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  /* display: flex;
  flex-flow: column; */
}

a:link
{
    text-decoration:none;
}

.contenedorPrincipal {
  height: 100%;
  width: 100%;
  position: absolute;
  background: -webkit-linear-gradient(#3d3d3d 2%, #181818 25%);
  background: -o-linear-gradient(#3d3d3d 2%, #181818 25%);
  background: -moz-linear-gradient(#3d3d3d 2%, #181818 25%);
  background: linear-gradient(#3d3d3d 2%, #181818 25%);
}

.contenedorMusica {
  float: right;
  width: 100%;
  height: 100%;
}

.contenedorLateral {
  float: left;
  /* background-color: #3d3d3d; */
  width: 10%;
  height: 88%;
  /* background: -webkit-linear-gradient(#3d3d3d, #181818);
  background: -o-linear-gradient(#3d3d3d, #181818);
  background: -moz-linear-gradient(#3d3d3d, #181818);
  background: linear-gradient(#3d3d3d, #181818) */
}

.menuLateral {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 70%;
}

.artistaSonando {
  float: left;
  width: 100%;
  height: 30%;
  border-top: 1px solid grey;
}

.menuLateral {
  float: left;
  position: relative;
}

.menuLateral li {
  list-style: none;
  margin-left: -14%;

}

.menuLateral li .seleccionado {
  color: white;
  font-weight: bold;
}

.menuLateral a {
  color: grey;
  font-size: small;
}

.menuLateral a:hover {
  color: grey;
}

.menuLateral a:active {
  color: white;
  font-weight: bold;
}

.menuReproduccion {
  float: left;
  height: 8%;
  width: 75%;
  /* background-color: black; */
}

.contenedorGrupos {
  float: left;
  width: 75%;
  height: 80%;
  /* background: -webkit-linear-gradient(#3d3d3d, #181818);
  background: -o-linear-gradient(#3d3d3d, #181818);
  background: -moz-linear-gradient(#3d3d3d, #181818);
  background: linear-gradient(#3d3d3d, #181818) */
}

.scrollPrincipal {
  overflow-y: scroll;
  overflow-x: hidden;
}
.contenedorGrupos a, p {
  color: white;
  font-weight: bold;
}

.contenedorGrupos p {
  font-weight: lighter;
}

.alquiloParaPublicidad {
  float: right;
  width: 15%;
  height: 88%;

}
.contenedorReproduccion {
  float: left;
  height: 12%;
  width: 100%;
  background-color: #282828;
}

.artista {
  float: left;
  height: 100%;
  width: 20%;
  /* background-color: red; */
}

.controlDeMando {
  float: left;
  height: 100%;
  width: 60%;
  /* background-color: brown; */
}

.sonido {
  float: right;
  height: 100%;
  width: 20%;
  /* background-color: purple; */
}
