.temazosChillScroll {
   width: 100%;
   height: 80%;
   overflow-y: scroll;
   overflow-x: hidden;
}

.alquiloParaPublicidadHorizontal {
  float: left;
  width: 100%;
  height: 20%;

  border-top: 1px solid grey;
}

.publicidadHorizontal {
  display:block;
  margin: auto;
  margin-top: 0.5%;
}

.playlist {
  width: 100%;
  height: 36%;
  /* background: red; */
}

.imagenPlaylist {
  float: left;
  width: 20%;
  height: 100%;
  padding-top: 0.8%;
}

.imagenPl {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  background: url(../imagenes/temazosChill.jpeg) 100% 100%;
}

.informacionPlaylist {
  float: left;
  width: 80%;
  height: 74%;
  /* background: purple; */
}

.informacionPlaylist li {
  list-style: none;
  color: #d7dfdb;
  margin-left: -35px;
}

.colorBlanco {
  font-size: medium;
  color: white;
}

.tituloPlaylist {
  color: white;
  font-weight: bold;
  font-size: xx-large;
}

.opcionesPlaylist {
  float: left;
  width: 80%;
  height: 26%;
  /* background: aqua; */
}

.reproducir {
  float: left;
  width: 10%;
  height: 85%;
  /* background: red; */
  margin-bottom: 15%;
  margin-right: 0.5%;
}

.botonReproducir {
  width: 100%;
  height: 70%;
  margin-top: 10%;


  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  border: 0px solid #000000;

  color: white;
  letter-spacing: 1px;
  background: #1DB954;
}

.botonReproducir:hover, .botonFav:hover, .botonMas:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.fav, .mas {
  float: left;
  width: 4%;
  height: 28%;
  margin-top: 1.1%;
}

.fav img, .mas img {
  margin: 0 auto;
  border-radius: 50px 50px 50px 50px;
  -moz-border-radius: 50px 50px 50px 50px;
  -webkit-border-radius: 50px 50px 50px 50px;

  border: 1px solid #FFFFFF;

}

.botonFav, .botonMas {
  margin: 0 auto;
  border-radius: 50px 50px 50px 50px;
  -moz-border-radius: 50px 50px 50px 50px;
  -webkit-border-radius: 50px 50px 50px 50px;
  border: 0px solid #000000;
  background: transparent;
}

.seguidores {
  float: left;
  width: 80%;
  height: 100%;
}

.seguidores p {
  text-align: right;
  font-size: small;
  letter-spacing: 1px;
  color: #7B7B7B;
}

.encabezadoCanciones {
  float: left;
  /* background: red; */
  width: 100%;
  height: 14%
}

.container-3{
  width: 98%;
  height: 40%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  margin: 0 auto;
}

/* Contenido de la casilla busqueda */
.container-3 input#search{
  opacity: 50%;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  font-size: 10pt;
  float: left;
  color: #262626;
  padding-left: 1%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
}

.container-3 input#search::-webkit-input-placeholder {
   color: #65737e;
}

.container-3 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
}

.container-3 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
}

.container-3 input#search:-ms-input-placeholder {
   color: #65737e;
}

.container-3 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;

   -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container-2:hover .icon{
  color: #93a2ad;
}

.container-3 input#search:focus, .container-3 input#search:active{
    outline:none;
}

.container-3:hover .icon{
  margin-top: 16px;
  color: #93a2ad;

  -webkit-transform:scale(1.5); /* Safari and Chrome */
  -moz-transform:scale(1.5); /* Firefox */
  -ms-transform:scale(1.5); /* IE 9 */
  -o-transform:scale(1.5); /* Opera */
   transform:scale(1.5);
  }

.container-3 input#search:hover {
  background-color: #404040;
}

.nombreCanciones {
  float: left;
  width: 98%;
  height: 50%;
  margin-left: 1%;
  margin-right: 1%;
  border-bottom: 1px solid #7B7B7B;
  /* border: 1px solid #fff; */
}

.falso {
  width: 100%;
  height: 10%;
}

#nC.fixed {
    position: fixed;
    width: 72.8%;
    height: 5%;
    top: 8.1%;
    left: 9.75%;
    background: #333333;
}

.tC p {
  color: #7B7B7B;
}

.tC  {
  width: 20%;
  height: 60%;
  text-align: right;
  /* border-top: 1px solid #7B7B7B; */
}

.tituloCanciones {
  float: left;
  /* background: blue; */
  text-align: center;
}

.artistaCanciones {
  float: left;

  /* background: red; */
}

.albumCanciones {
  float: left;

  /* background: grey; */
}

.fechaCanciones {
  float: left;

  /* background: green; */
}

.duracionCanciones {
  float: left;

  /* background: yellow; */
}

.listaReproduccion {
  float: left;
  width: 100%;
  height: 50%;
  /* background: blue; */
}

.canciones {
  width: 98%;
  height: 14%;
  /* background: green; */
  border-top: 1px solid #7B7B7B;
  margin-left: 1%;
  margin-right: 1%;
}
